<html>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  body {
    font-size: 15pt;
    font-family: arial;
  }

  table {
    width:80%;
    margin-left:auto;
    margin-right:auto;
    border: 1px none #ffffff;
    border-collapse: collapse;
    padding: 5px;
  }

  table th {
    border: 1px none #ffffff;
    padding: 5px;
    background: #f0f0f0;
    color: #313030;
  }

  table td {
    border: 1px none #ffffff;
    text-align: left;
    padding: 5px;
    background: #ffffff;
    color: #313030;
  }
</style>

<body>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout"><br>
  </form>
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

  <h1>This is <strong>{{info[0]['name']}}</strong>'s Home Page!</h1>

  <h4>Basic</h4>
  <button onclick="document.getElementById('profile').style.display='block'">Profile</button><br>
  <hr>
  <h4>Vaccine Appointments</h4>
  <button onclick="document.getElementById('apt').style.display='block'">My Appointments</button>
  <!-- <a href={{url_for('appointment',site_id="2294")}}><button>New Appointment</button></a><br> -->

  <hr>
  <h4>Sites</h4>
  <a href='/filter'><button>Find a Site Today</button></a><br>

  <div id="profile" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('profile').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>

        <table>
          <h4><strong>User Profile</strong></h4>
          <tbody>
            <tr>
              <td>User id</td>
              <td>{{info[0]['user_id']}}</td>
            </tr>
            <tr>
              <td>User Name</td>
              <td>{{info[0]['name']}}</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>{{info[0]['dof']}}</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>{{info[0]['address']}}</td>
            </tr>
            <tr>
              <td>Zip</td>
              <td>{{info[0]['zip']}}</td>
            </tr>
          </tbody>
        </table>
        
        <button onclick="document.getElementById('profile').style.display='none';document.getElementById('edit').style.display='block'">Edit</button>
      </div>
    </div>
  </div>
  
  
  <div id="edit" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:600px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('edit').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>

        <form method="POST" action="/edit_profile">
        <table>
          <h4><strong>User Profile</strong></h4>
          <tbody>
            <tr>
              <td>User id</td>
              <td>
                {{info[0]['user_id']}}
              </td>
            </tr>
            <tr>
              <td>User Name</td>
              <td>{{info[0]['name']}}</td>
            </tr>
            <tr>
              <td>Date of Birth</td>
              <td>
                <input type="date" name="dof" required  value={{info[0]['dof']}}>
              </td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                <input type="text" name="address" required  value={{info[0]['address']}}>
              </td>
            </tr>
            <tr>
              <td>Zip</td>
              <td>
                <input type="text" name="zip" required  value={{info[0]['zip']}}>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="hidden" id="userID" name="user_id" value={{info[0]['user_id']}}>
          <input type="submit" value="Update">
          
          </form>
      </div>
    </div>
  </div>
  

  <div id="apt" class="w3-modal">
    <div class="w3-modal-content w3-card-4" style="max-width:800px">
      <div class="w3-center"><br>
        <span onclick="document.getElementById('apt').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>Vaccine</th>
              <th>Site</th>
              <th>User</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for item in apt %}
            <tr>
              <td>{{item['appoint_id']}}</td>
              <td>{{item['date']}}</td>
              <td>{{item['time']}}</td>
              <td>{{item['brand']}}</td>
              <td><a href={{url_for('site_detail',site_id=item['site_id'])}}>{{item['site']}}</td>
              <td>{{item['user']}}</td>
              <td>
                <form method="POST" action="/cancel_appt">
                  <input type="hidden" id="apptID" name="appoint_id" value={{item['appoint_id']}}>
    <input type="submit" value="cancel"><br>
  </form>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

</body>

</html>