<html>
  <body>
    <h1>Appointment Scheduler</h1>
    <div>
      <h2>Make an appointment for vaccination</h2>
      <form method="POST" action="/add_user">
        <div>Enter your personal information</div>
        <div>
          Date of birth
          <input type="text" name="user_id" placeholder="mmddyy" />
        </div>
        <div>Name <input type="text" name="name" /></div>
        <div>Date of <input type="date" name="dof" /></div>
        <div>Address <input type="text" name="address" /></div>
        <div>zipcode <input type="text" name="zipcode" /></div>
        <input type="submit" value="Create" />
      </form>

      <form method="POST" action="/add_appo">
        <div>Enter your avilable time</div>
        <div>
          Date of birth
          <input type="text" name="appoint_id" placeholder="mmddyy" />
        </div>
        <div>Date <input type="date" name="date" /></div>
        <div>Time <input type="time" name="time" /></div>
        <div>
          Vaccine type (1 is Moderna, 2 is Pfizer-BioNTech)<input
            type="text"
            name="v_type"
          />
        </div>

        <div>site <input type="text" name="site_id" /></div>
        <input type="submit" value="Create" />
      </form>
    </div>
    <p><a href="/another">Already have an appointment?</a></p>
  </body>
</html>
